.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dil {
  cursor: pointer;
}

.dil:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 20px #00ff00;
}

.dil:hover {
  color: #10ffeb;
  box-shadow: 0 0 30px #00ff00;
  text-shadow: 0 0 30px #fff;
}

@font-face {
  font-family: "Daktilo";
  /*Can be any text*/
  src: local("Typewriter"),
    url("./assets/fonts/Daktilo.ttf") format("truetype");
}

.form-control::placeholder {
  font-family: "Daktilo";
  opacity: 0.5;
  color: rgb(245, 235, 235);
}